page-mytask {
    .task-list-item {
        border-top: none;
        position: relative;
        .task-list-title {
            @extend .common-list-item-title;
            margin-top: 10px;
        }
        .task-list-date {
            margin-top: 10px;
            font-family: 'proximanova';
            color: map-get($colors, aiit_light_gray);
            font-size: 12px !important;
            text-transform: uppercase;
        }
        .task-list-status {
            @extend .task-list-status-common;
            color: map-get($colors, aiit_blue_light);
            background-color: map-get($colors, aiit_blue_lightbg);
        }
        .task-list-status-overdue {
            @extend .task-list-status-common;
            color: map-get($colors, aiit_error_pink);
            background-color: map-get($colors, aiit_error_bg);
        }
        .task-list-status-today {
            @extend .task-list-status-common;
            color: map-get($colors, aiit_today_yellow);
            background-color: map-get($colors, aiit_today_bg);
        }
        .task-list-status-completed {
            @extend .task-list-status-common;
            color: map-get($colors, aiit_completed_text);
            background-color: map-get($colors, aiit_completed_bg);
        }
    }
    .drop-down-list {
        padding: 5px;
        .drop-down-label {
            font-family: 'proximanova';
            color: map-get($colors, aiit_dark_grey) !important;
            font-size: 20px;
            font-weight: bold;
            margin-left: 18px;
        }
        .drop-down-items {
            font-family: 'proximanova';
            color: map-get($colors, aiit_dark_grey) !important;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
            outline: 0px;
        }
    }
    .empty-state {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: map-get($colors, aiit_light_gray);
        font-family: 'proximanova';
    }
    .test {
        display: inline-block;
        height: 50px;
        /*sets height of element*/
        background: map-get($colors, aiit_blue_segment);
        /*sets the background of this element (here a solid colour)*/
        //transition: all 0.6s; /*sets a transition (for hover effect)*/
        padding-left: 20px;
        /*sets 'padding'*/
        padding-right: 20px;
        /*sets 'padding'*/
        line-height: 50px;
        /*for this, it sets vertical alignment*/
    }
    ion-label#sortFilter-label {
        display: table;
        width: 70px;
    }
    ion-select#selectFilter {
        max-width: 100%;
    }
    .task-list-sorting {
        background-color: map-get($colors, aiit_gray_sort);
    }
    div.report-notification {
        //todo -- change height of div depending on the number of notif
        padding-left: 20px; // display: flex;
        // align-items: center;
        // justify-content: left;
        // text-align: center;
        font-size: 14px;
        color: map-get($colors, aiit_light_gray);
        width: 100%;
        height: 120px; //80
        background-color: map-get($colors, aiit_white);
        position: absolute;
        bottom: -1px;
        right: 0px;
        left: 0x;
        z-index: 5;
        border-style: solid;
        border-width: 1px;
        border-color: map-get($colors, aiit_light_gray); // border-radius: 0px 0px 8px 8px;
        .close {
            position: absolute;
            bottom: 90px; //50
            right: 10px;
        }
        .view-report {
            background-color: map-get($colors, aiit_white);
            font-weight: bold;
        }
    }
    div.report-notification-short {
        //todo -- change height of div depending on the number of notif
        padding-left: 20px; // display: flex;
        font-size: 14px;
        color: map-get($colors, aiit_light_gray);
        width: 100%;
        height: 80px; //80
        background-color: map-get($colors, aiit_white);
        position: absolute;
        bottom: -1px;
        right: 0px;
        left: 0x;
        z-index: 5;
        border-style: solid;
        border-width: 1px;
        border-color: map-get($colors, aiit_light_gray); // border-radius: 0px 0px 8px 8px;
        .close {
            position: absolute;
            bottom: 50px; //50
            right: 10px;
        }
        .view-report {
            background-color: map-get($colors, aiit_white);
            font-weight: bold;
        }
    }
    .add-task-button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 1;
    }
}