page-filterbranch {
    .checkbox {
        border-radius: 100%;
    }
    .proxima_font {
        font-family: 'proximanova';
    }
    .btn-transparent {
        background-color: rgba(0, 0, 0, 0);
    }
    .txt-opacity {
        color: rgba(0, 0, 0, 0.45);
    }
}