page-csrlabor {
    .center {
        position: absolute;
        left: 180px;
        bottom: 10px;
        width: 200px;
    }
    #dateField {
        visibility: hidden;
    }

    .proxima_font{
        font-family: 'proximanova';
    }
}