page-passwordreset {
    .main-container {
        height: 100%;
        padding: 6%;
        transition: height 1s;
    }
    #prHeader {
        @extend .title_text_black;
        text-align: center;
        margin-top: 7%;
    }
    #prLabel {
        @extend .content_text_black_stable;
        text-align: center;
        margin-top: 7%;
    }
    .button_container {
        position: absolute;
        bottom: 30px;
        width: 100%;
        padding: 0px
    }
    input[type="email"] {
        font-family: 'proximanova';
        color: map-get($colors, aiit_dark_grey);
        font-size: 20px;
    }
}