page-csrreportheaderinfo {
    .center {
        position: absolute;
        left: 180px;
        bottom: 10px;
        width: 200px;
    }
    .left {
        position: absolute;
        left: 10px;
        bottom: -10px;
        width: 200px;
    }
    .right {
        position: absolute;
        left: 280px;
        bottom: -10px;
        width: 200px;
    }
    .update {
        position: absolute;
        left: 120px;
        bottom: 0px;
        width: 200px;
    }
}