page-filterfields {
    .btn-transparent {
        background-color: rgba(0, 0, 0, 0);
    }
    .ion-title {
        border: 10px;
        width: 100%;
    }
    .slider {
        width: 75%;
        height: 8.5px;
        $range-md-bar-height: 10px;
        font-family: 'proximanova';
    }
    .mydiv {
        background: map-get($colors, aiit_white);
        height: 40%;
    }
    .mycontent {
        background: rgba(0, 0, 0, 0.20);
    }
    .header {
        font-family: 'proximanova';
    }
    table {
        width: 100%;
        th {
            align-content: left;
        }
    }
    .Done {
        width: 100%;
        border-style: solid;
        background-color: map-get($colors, aiit_blue_segment);
        color: map-get($colors, aiit_white);
    }
}