page-reportdetails {
    ion-list {
        ion-item {
            background-color: transparent;
            padding-left: 0;
            position: relative;
        }
        ion-label {
            div {
                text-transform: none;
                font-size: 1em;
                padding: 0.5em 0; 
                text-align: justify;
            }
        }
        ion-icon {
            font-size: 1.8rem;
            padding: 0;
            text-align: center;
            position: absolute;
            right: 10px;
            top: 3px;
            &:before {
                font-weight: bold;
            }
        }
    }
    .mr-10 {
        margin-right: 10px;
    }
    .p-0 {
        padding: 0;
    }
    .txt-opacity {
        color: rgba(0, 0, 0, 0.45)
    }
    .work-order {
        color: map-get($colors, aiit_light_gray) !important;
    }
    .txt-opacity {
        color: rgba(0, 0, 0, 0.45)
    }
    .text_style {
        font-family: 'proximanova';
        color: map-get($colors, aiit_light_gray) !important;
        font-size: 0.7em;
        font-weight: bold;
    }
    .proxima_font {
        font-family: 'proximanova';
        color: black !important; 
    }
}